= stylesheet_link_tag "submitted"

.container
  .info
    %h1 Poem was successfully submitted!
    %p * Please note: if you created new tags, they will also be reviewed along with the poem.
    %span
    %br
    %footer.footer
      = button_to 'Submit another poem', { action: "new" },  :method => :get, :id => "submit_another_button", :class=>"button"
      = button_to 'Return to Gallery', { action: "home" },  :method => :get, :id => "return_to_gallery", :class=>"button"