body {
  background: #FBFBFB;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center
}

h1 {
	padding: 20px;
	text-align: center;
}

.container{
	/*position: absolute;*/
	width: 1450px;
	margin: 0 auto;
}

ul.tabs{

	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li {
  float: left;
  background: none;
	cursor: pointer;
	text-align: center;
}

ul.tabs li a {  
	display: inline-block;
	padding: 18px 50px;
	font-size: 14px;
  color: #222;
  text-transform: none;
}

ul.tabs li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tabs li a:focus, .active {
    background-color: #ccc;
}

.tab-content{
	/*position: relative;*/
	/*top:; 10%;*/
	display: none;
	background: #EAEAEA;
	padding: 15px;
}

table {
  table-layout: fixed;
  width: 100%;
  font-size: 12px;
  text-align: left;
  border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #e0e0e0;
}

th, td {
  max-width: 0;
  overflow: hidden;
  word-wrap: break-word;
  padding-bottom: 5px;
  height: 70px;
}

.switch-button {
  position: absolute;
  width: 100%;
  /*height: 10%;*/
  top: 13%;
  padding: 10px 0 10px 0;
}

/*.options {*/
/*  vertical-align: middle;*/
/*  text-align: center;*/

/*}*/

#options div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 10%;
  height: 30px;
}

.tabs-container {
  position: relative;
  top: 20%;
}


/*#options {*/
  
/*}*/