body {
  background: #FBFBFB;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center
}

h1 {
	padding: 20px;
	text-align: center;
}

.container{
	width: 1400px;
	margin: 0 auto;
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 15px 45px;
	cursor: pointer;
	text-align: center;
	font-size: 15px;
}

ul.tabs li.current{
	background: #EAEAEA;
	color: #222;
}

.tab-content{
	display: none;
	background: #EAEAEA;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}		

table {
  table-layout: fixed;
  width: 1400px;
  font-size: 12px;
  text-align: left;
}

th, td {
  overflow: hidden;
  width: 100px;
  padding-bottom: 15px;
}
