#new_user {
    text-align: center;
    margin: 0 auto;
    width: 50% !important;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 3%;
}

a {
	text-align: center;
	display: block;
}

h2 {
	text-align: center;
    margin: 0 auto;
    margin: 2% 0 5% 0;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { 
     background-color: #ffffff !important;
     -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

nav {
    background-color: #3d9be9 !important;
}

.btn:hover {
  background-color: #c7e2f9 !important;
}

.message{
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    padding: 10 10;
    font-weight: bold;
    color: #3d9be9;
    font-size: 20px;
}