body {
  padding-top: 64px;
  background: #fff;
  font-size: 12px;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center
}

h1 {
	padding: 20px;
	text-align: center;
  color: #3d9be9;
}

.container{
	width: 1450px;
	margin: 0 auto;
}

ul.tabs{

	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li {
  float: left;
  background: none;
	cursor: pointer;
	text-align: center;
}

ul.tabs li a {  
	display: inline-block;
	padding: 18px 50px;
	font-size: 14px;
  color: #222;
  text-transform: none;
}

ul.tabs li a:hover {
    background-color: #c7e2f9;
}

/* Create an active/current tablink class */
ul.tabs li a:focus, .active {
    background-color: #3d9be9;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
}

.tab-content{
	display: none;
	background: #EAEAEA;
	padding: 15px 15px 35px;
}

table {
  table-layout: fixed;
  width: 100%;
  font-size: 12px;
  text-align: left;
  border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #e0e0e0;
}

th, td {
  max-width: 0;
  overflow: hidden;
  word-wrap: break-word;
  padding-bottom: 5px;
  height: 70px;
}

.heading-button-container {
  position: static;
}

.switch-button {
  width: 100%;
  top: 25%;
}

#options div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 10%;
  height: 50px;
}

.tabs-container {
  position: relative;
  top: 20%;
}

.logout {
  color: #039be5; 
  margin-top: 10%;
}

.gallery {
  color: #039be5;
  margin-top: 10px;
}

.poem-tag {
  color: #039be5;
  /*min-width: 120px;*/
}

.small-btn {
  height: 24px;
  line-height: 24px;
  padding: 0 0.5rem;
  color: #039be5;
  font-size: 13px;
  background-color: #ffffff;
}


.small-btn:hover {
  background-color: #c7e2f9;
}

nav-wrapper{
  height: 64px;
}