body {
  background: #FBFBFB;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
	text-align: center;
}

.container{
			width: 1300px;
			margin: 0 auto;
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #EAEAEA;
	color: #222;
}

.tab-content{
	display: none;
	background: #EAEAEA;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}		
