body{
    padding-top: 64px;
}

#new_user {
    text-align: center;
    margin: 0 auto;
    width: 50% !important;
    font-family: 'zOpen Sans', sans-serif;
    margin-bottom: 3%;
}

a {
	text-align: center;
	/*display: block;*/
}

h2 {
	text-align: center;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { 
     background-color: #ffffff !important;
     -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

nav {
    background-color: #3d9be9 !important;
    position: fixed;
    top: 0;
    z-index: 999;
}

.btn:hover {
  background-color: #c7e2f9 !important;
}

.btn{
    
}

#reg-option-container {
    width: 100%;
   
}

.registration-options {
    position: relative;
    /*margin: 0 auto;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0 0 10px;
}