.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  width: 50%;
  padding 50px;
}

.aside-1 {
  background: #fcd307;
  width: 50%;
  padding 10px;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 auto;
    padding 20px;
  }
}

body {
  padding: 2em;
}

li {
  /* remove list style bullets */
  list-style-type: none;
  /* vertical center with 10px on left and right */
  margin: auto 10px;
}

poemtext {
  font-size: 20px;
  font-family: georgia, palatino, "book antiqua", "palatino linotype", serif;
}