.body {
  font-size: 14px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-width: 800px;
}

.container {
  display: block;
  position: relative;
  border-radius: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}

.header {
  font: 36px/1.4em arial;
  line-height: 10px;
}

.header h3 {
  font: 23px/1.4em arial;
}

.info{
  width: 100%; 
  padding: 20px;
  text-align: left;
  margin-top: 1%;
  margin-left: 20.5%;
  line-height: 10px;
  position: absolute
  
}

.content .main {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background: #4DC1FF;
  box-shadow: 2px 2px 10px #888888;
  border-radius: 10px;
  
  font-size: 36px;
  font: 14px/1.4em helvetica-w01-bold,helvetica-w02-bold,
}

/*.wrapper {*/
/*  display: -webkit-box;*/
/*  display: -moz-box;*/
/*  display: -ms-flexbox;*/
/*  display: -webkit-flex;*/
/*  display: flex;*/
/*  -webkit-flex-flow: row wrap;*/
/*  flex-flow: row wrap;*/
/*  font-weight: bold;*/
/*  text-align: center;*/
/*  width: 50%;*/
/*  padding: 50px;*/
/*}*/

/*.aside-1 {*/
/*  background: #fcd307;*/
/*  width: 50%;*/
/*  padding: 10px;*/
/*}*/

/*@media all and (min-width: 600px) {*/
/*  .aside {*/
/*    flex: 1 auto;*/
/*    padding: 20px;*/
/*  }*/
/*}*/

/*body {*/
/*  padding: 2em;*/
/*}*/

/*#sidebar {*/
/*    position: -webkit-sticky;*/
/*    position: sticky;*/
/*    top: 0; // required as well.*/
/*}   */

/*li {*/
  /* remove list style bullets */
/*  list-style-type: none;*/
  /* vertical center with 10px on left and right */
/*  margin: auto 10px;*/
/*}*/

/*poemtext {*/
  /*font-size: 20px;*/
/*  font-family: georgia, palatino, "book antiqua", "palatino linotype", serif;*/
/*}*/