body {
  background: #f2f2f2;
  font-size: 14px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}


textarea .form-control{
  height: 150px;
  width: 540px;
  margin:0 auto;
  resize: vertical;
} 

img {
  display: block;
  max-height:6.5rem;
  box-shadow: 2px 2px 10px #888888;
  float: left;
  top: 0;
}


.container {
  display: block;
  max-width: 700px;
  margin: 40px auto;
  box-shadow: 2px 2px 10px #888888;
  border-radius: 10px;
  color: #313A3D;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: Georgia, serif
}

h4 {
  margin-top: 35px;
}
.newpoem_form {
  background: #ffffff;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  overflow: hidden;
  border-radius: 10px;
  padding: 30px;
  margin-top: 23%;
}

.newpoem_form .form .form-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 0 30px;
}

.newpoem_form .form .form-row:last-child {
  margin: 0;
}

.newpoem_form .form .form-row:last-child .input-group {
  width: 75%;
  margin: 0 15px 0 0;
}

.newpoem_form .form .form-row:last-child .input-group:last-child {
  width: 25%;
  margin: 0 0 0 15px;
}

.newpoem_form .form .input-group {
  width: 100%;
}
.newpoem_form .form label {
  display: block;
  width: 100%;
  margin: 0 0 10px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.newpoem_form .form input {
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0;
  border: 0;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  padding: 15px;
  color: #999;
  font-size: 12px;
  font-weight: 700;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.newpoem_form .form select{
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  width: 50%;
  margin: 10px;
  border: 0;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  padding: 15px;
  color: #999;
  font-size: 12px;
  font-weight: 700;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.newpoem_form .header {
  background: #fcd307;
  text-align: center;
  line-height: 60px;
  padding: 20px 30px;
  border-radius: 10px;
} 

.newpoem_form .header h1 {
  letter-spacing: 1px;
  text-transform: uppercase;
}

form label.header {
  display: flex;
  padding-left: 10px;
  line-height: 25px;
  font-weight: bold;
  color: #3e6db2;
}

.modal .content {
  padding: 30px;
}

.button:hover {
  background-color: #FA865F !important;
}

.footer .button {
  outline: none;
  display: block;
  background: rgba(252, 211, 7, 1);
  width: 100%;
  border: 0;
  padding: 20px 30px;
  color: #000000;
  font: normal normal normal 14px/1.4em helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s ease-out;
  border-radius: 6px;
}

.info {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}

.info h1 {
  margin: 0 0 15px;
  padding: 0;
  font: normal normal normal 14px/1.4em helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
  font-size: 56px;
  font-weight: 400;
  font-style: italic;
  color: #333;
}

.info span {
  color: #666;
  font-size: 12px;
}

.info span a {
  color: #000000;
  text-decoration: none;
}
.info span .fa {
  color: #00a6ea;
}

lesshat-selector {
  -lh-property: 0; }
  
.message#warning {
  color: red;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  font-style: italic;
}
  
@-webkit-keyframes active{ 0%{ bottom: -60px; opacity: 0; } 100%{ bottom: -30px; opacity: 1 }}
@-moz-keyframes active{ 0%{ bottom: -60px; opacity: 0; } 100%{ bottom: -30px; opacity: 1 }}
@-o-keyframes active{ 0%{ bottom: -60px; opacity: 0; } 100%{ bottom: -30px; opacity: 1 }}
@keyframes active{ 0%{ bottom: -60px; opacity: 0; } 100%{ bottom: -30px; opacity: 1 }}