img {
    max-width: 100%;
    max-height: 100%;
    -webkit-box-shadow: 3px 2px 27px 4px rgba(50,47,59,0.53);
    -moz-box-shadow: 3px 2px 27px 4px rgba(50,47,59,0.53);
    box-shadow: 3px 2px 27px 4px rgba(50,47,59,0.53);
}

h2 {
     margin-top: 5%;
}

h3 {
    font-size: 20px;
}
.profile_pic {
    box-sizing: border-box;
    width: 30%;
    float: left;
}
.personal_info {
    position: auto;
    margin-top: 20px;
    width: 70%;
    float: right;
    font-family: "Helvetica", Times, serif;
}

.other_info {
    position: auto;
    float: left; 
}